#logo {
	float: right;
	width: 100%;
}
#logo a {text-decoration: none;}
#logo h1 { text-align: center; }

#content {
	float: right;
	width: 100%;
}
/*this is a class, it must be called by class="mainContent"*/
#left {
	float: left;
	width: 70%;
	margin: 0;
	border: 1px dashed; 
	padding: 0 0.49em;

}

#right {

	width: 27%;

	float: right;
	font-size: 11px;
}

