<html>
<head>
   <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
 
      ul {
        position: absolute;
        left: 850px;
        top: 30px;
        list-style-type: none;
      }
 
      #repos {
        top: 130px;
      }
   </style>

    <script type="text/javascript">
      $(function() {
        var limit = 10 // how many repos to list
        var login = 'nogoth' // thanks defunkt
 
        $.getJSON('http://github.com/api/v1/json/' + login + '?callback=?', function(data) {
          var repos = $.grep(data.user.repositories, function() {
            return !this.fork
          })
 
          repos.sort(function(a, b) {
            return b.watchers - a.watchers
          })
 
          $.each(repos.slice(0, limit), function() {
            $('#repos').append('<li><a href="' + this.url + '">' + this.name + '</a></li>')
          })
        })
      })
    </script>
</head>
<body>


{{content}}

<ul id="repos">
      <li><h3>repositories</h3></li>
    </ul>

</body>
</html>
