<html>
<head>
	<link href="/css/default.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="logo">
	<h1><a href="/">Nogoth's Github Website</a></h1>
</div>
<div id="content">

  {{content}}

  <div id="right">
	<div id="github-badge"></div>
        <script type="text/javascript" charset="utf-8">
          GITHUB_USERNAME="nogoth";
        </script>
        <script src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js" type="text/javascript"></script>
  </div>

</div>

<div id="content">
<h2>Contact information:</h2>
<ul>
<li> twitter.com/nogoth
<li> http://onyxorison.blogspot.com
<li> livingood - at - gmail.com
</ul>
</div>

</body>
</html>
